import("stats","graphics","colorspace")
export(
  "nearest_gridpoint",
  "zcolors",
  "show_palettes",
  "flush_output"
)

importFrom("utils", "flush.console")


## methods 
#S3method("print", "mevd")
#S3method("plot", "mevd")
   