import("stats","graphics","colorspace")
export(
  "nearest_gridpoint",
  "zcolors",
  "show_palettes"
)
#importFrom("EnvStats","eweibull")

## methods 
#S3method("print", "mevd")
#S3method("plot", "mevd")
   